/* xs 576 sm , sm 768 md, md 992 lg, lg 1200 xl */
@media (max-width: 397px) {
    main {
        flex-direction: column;
    }

    .sidebar {
        min-width: 100%!important;
        padding-right: 0;
    }

    .left, .left ul {
        width: 100%!important;
        height: 47px!important;
        display: inline-flex;
    }

    .left li {
        height: 47px!important;
    }

    .left li:last-child {
        display: none;
    }

    .active {
        background-color: none;
    }

    .row.nav {
        margin-top: 0.7em!important;
    }

    .left img {
        vertical-align: baseline;
    }
}

@media (max-width: 477px) {
    .proquo span,
    .history span {
        display: block;
        margin: 15 0px;
    }
    .history i {
        margin-bottom: 6px;
    }
}

@media (max-width: 577px) {
.procomp h5, .proquo h5, .history h5 {
    line-height: 0.93em;
}

    .midmargin {
        margin: 0 42px 0 42px;
    }

    .contact_wrapper {
        float: none!important;
    }

    .card {
        width: 300px;
        margin: 0 auto;
    }

    .recap div:first-child {
        max-width: 340px;
    }

}

@media (max-width: 992px) {
    .sidebar {
        min-width: 57px;
        max-width: 57px;
    }

    .right {
        display: none;
    }

    section {
        width: 85%!important;
    }
}

@media (max-width: 1174px) {
    .rowrecap .card {
        float: none;
    }
}

@media (max-width: 1214px) {
    .recap {
        margin: 0 auto;
        max-width: 420px;
    }

    .recap .card {
        float: none!important;
        height: 187px;
    }
/* 
    .rowrecap .card {
        left: 45px;
    } */
}

@media (max-width: 1640px) {
    .procomp {
        justify-content: space-around;
    }
}

@media (min-width: 1641px) {
    .procomp {
        justify-content: space-between;
    }

    .third {
        margin-right: 15px;
    } 
}